{%include "header.html"%}
 <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">I'm a web developer and leaning data science.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a passionate web developer with a keen eye for minimalistic design and seamless user experiences. With a strong background in front-end technologies, I excel in crafting elegant and functional websites that prioritize user interaction and visual appeal.</p>
                       <p>Transitioning into the world of data science, I am expanding my skill set to include data analysis, machine learning, and statistical modeling. Combining my expertise in web development with data science, I aim to create data-driven web applications that not only look good but also provide valuable insights and solutions.</p>
                        <p>Driven by curiosity and a desire to learn, I am continuously exploring new technologies and methodologies to stay at the forefront of both fields. When not coding, I enjoy delving into the latest trends in tech and finding innovative ways to integrate them into my projects.</p>         </div>
                </div>
            </div>
        </main>
{%include "footer.html"%}